@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
    background-color: #fee440;
    min-height: 100vh; /* Hace el body más alto que la ventana */
    display: flex;
    flex-direction: column;
        margin: 0;
        min-width:fit-content;
}

main {
    flex: 1;
}

.navbar {
    background-color: #6A2975;
    justify-content: space-evenly;
    justify-items: center;
}

.nav-link {
    font-size: 1.8em;
    color: white;
    font-family: 'myriad-pro', sans-serif;
}

.nav-link:hover {
    color: #FDDC03;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

footer {
  background-color: #6A2975;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#pie {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
  bottom: 0;
  width: 100%;
  padding: 0;
}

/* CARD */


/*
*{
  box-sizing: border-box;
}
*/
.cards {
    width: 100vw;           /* Ocupa casi todo el ancho de la ventana */
    height: 90vh;            /* Altura igual al ancho */
    display: flex;
    justify-content: center;
    align-items: center;       /* Centra verticalmente el contenido */
    margin: 0 auto;            /* Centra horizontalmente */
    gap: 4rem;                /* Espacio entre las tarjetas */
}

.card--1 .card__img, .card--1 .card__img--hover {
    /* background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
    background-image: url('/src/BoteoDig.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
    /* background-image: url('https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
    background-image: url('/src/CRITSON1.png');
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* .card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0.5;
  top: 0;
} */

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  -webkit-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  -ms-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #6A2975 ;
    width: 40vw;           /* Tarjetas más grandes */
    height: 70vh;          /* Más altas */
    min-width: 300px;      /* Tamaño mínimo para responsividad */
    min-height: 300px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__title {
    margin: auto;
    margin-top: 1%;
    font-size: 42px;
    font-family: 'myriad-pro', sans-serif;
    color: white;
}

.card__descr {
    margin: auto;
    margin-top: 0%;
    text-align: center;
    font-family: 'myriad-pro', sans-serif;
    color: white;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 1;
}

#i_play {
    color: rgb(255, 208, 0);
    margin: auto;
    margin-top: 0%;
    width: 50px;
    height: 50px;
    display: none;
}
.card:hover #i_play {
    display: block;
}

#social{
  background-color: #54456b;
}
/* CARD */


/* SVG */
 @keyframes rotate {
					 0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            .out-top {
                animation: rotate 20s linear infinite;
                transform-origin: 13px 25px;
            }
            .in-top {
                animation: rotate 10s linear infinite;
                transform-origin: 13px 25px;
            }
            .out-bottom {
                animation: rotate 25s linear infinite;
                transform-origin: 84px 93px;
            }
            .in-bottom {
                animation: rotate 15s linear infinite;
                transform-origin: 84px 93px;
            }
/* SVG */

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    footer {
        padding: 15px 0;
        flex-direction: column;
    }
    navbar{
        padding: 15px 0;
        flex-direction: column;
    }
}